<div class="container">
  <form method="post" action="/tweet" id="tweet">
    <input type="text" placeholder="Tweet" name="tweet" id="tweet_text"/>
    <input type="submit" value="Submit"/>
  </form>
  <a href='/sign_out'>sign_out</a>
  <img src="loading.gif" alt="loading"/>
</div>
